= javascript_include_tag 'web/pages'

.row
  .col-md-10
    = simple_form_for @page, url: { controller: 'web/admin/pages', action: :update, id: @page.id }, html: { class: 'form-horizontal' } do |f|
      = f.input :title, as: :string
      = f.input :body
      - if slug_disabled
        = f.input :slug, as: :hidden
      - else
        = f.input :slug, as: :string

      = f.button :submit
