= javascript_include_tag 'web/welcome'
= stylesheet_link_tag 'web/welcome'
= render 'video_header'
%section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        %h1 A Theme for Creatives & Agencies
        %p Vitality is the perfect theme for a freelance professional or an agency.
        %hr.colored/
    .row.text-center.content-row
      .col-md-3.col-sm-6.wow.fadeIn{"data-wow-delay" => ".2s"}
        .about-content
          %i.fa.fa-eye.fa-4x
          %h3 Retina Ready
          %p This theme includes the retina.js plugin for easy retina image support so your images and graphics will look great on mobile devices!
      .col-md-3.col-sm-6.wow.fadeIn{"data-wow-delay" => ".4s"}
        .about-content
          %i.fa.fa-edit.fa-4x
          %h3 Easy to Edit
          %p Vitality is built using Bootstrap 3, and is easy to edit and customize. LESS files are included as well for deeper customization.
      .col-md-3.col-sm-6.wow.fadeIn{"data-wow-delay" => ".6s"}
        .about-content
          %i.fa.fa-tablet.fa-4x
          %h3 Responsive
          %p When building this theme, we've paid close attention to how it looks on various screen sizes. Try it out on a phone or tablet!
      .col-md-3.col-sm-6.wow.fadeIn{"data-wow-delay" => ".8s"}
        .about-content
          %i.fa.fa-heart.fa-4x
          %h3 Built with Love
          %p All of our themes are crafted with care, and we strive to make your experience as one of our customers the best as possible.
= render 'banner'
= render 'team'
= render 'portfolio'
= render 'services'
= render 'our_services'
%section.testimonials.bg-gray
  .container.wow.fadeIn
    .row
      .col-lg-10.col-lg-offset-1
        .testimonials-carousel
          .item
            .row
              .col-lg-12
                %p.lead "Working with Vitality was both a valuable and rewarding experience."
                %hr.colored/
                %p.quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?
                .testimonial-info
                  .testimonial-img
                    = image_tag "testimonials/1.jpg",class: 'img-circle img-responsive', alt: ""
                  .testimonial-author
                    %span.name Jim Walker
                    %p.small CEO of GeneriCorp
                    .stars
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
          .item
            .row
              .col-lg-12
                %p.lead "Working with Vitality was both a valuable and rewarding experience."
                %hr.colored/
                %p.quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?
                .testimonial-info
                  .testimonial-img
                    = image_tag "testimonials/1.jpg", class: 'img-circle img-responsive'
                  .testimonial-author
                    %span.name Jim Walker
                    %p.small CEO of GeneriCorp
                    .stars
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
%section#pricing.pricing
  .container.wow.fadeIn
    .row.text-center
      .col-lg-12
        %h2 Pricing
        %hr.colored/
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quae, laborum, voluptate delectus odio doloremque error porro obcaecati nemo animi ducimus quaerat nostrum? Ab molestiae eaque et atque architecto reiciendis.
    .row.content-row
      .col-md-4
        .pricing-item.featured-first
          %h3 Basic
          %hr.colored/
          .price
            %span.number
              %sup> $
              25
            \/ month
          %ul.list-group
            %li.list-group-item 60 Users
            %li.list-group-item Unlimited Forums
            %li.list-group-item Unlimited Reports
            %li.list-group-item 3,000 Entries per Month
            %li.list-group-item 200 MB Storage
            %li.list-group-item Unlimited Support
          %a.btn.btn-outline-dark{href: "#"} Sign Up
      .col-md-4
        .pricing-item.featured
          %h3 Plus
          %hr.colored/
          .price
            %span.number
              %sup> $
              50
            \/ month
          %ul.list-group
            %li.list-group-item
              %strong 60
              Users
            %li.list-group-item Unlimited Forums
            %li.list-group-item Unlimited Reports
            %li.list-group-item
              %strong 3,000
              Entries per Month
            %li.list-group-item
              %strong 200 MB
              Storage
            %li.list-group-item Unlimited Support
          %a.btn.btn-outline-dark{href: "#"} Sign Up
      .col-md-4
        .pricing-item.featured-last
          %h3 Premium
          %hr.colored/
          .price
            %span.number
              %sup> $
              150
            \/ month
          %ul.list-group
            %li.list-group-item 60 Users
            %li.list-group-item Unlimited Forums
            %li.list-group-item Unlimited Reports
            %li.list-group-item 3,000 Entries per Month
            %li.list-group-item 200 MB Storage
            %li.list-group-item Unlimited Support
          %a.btn.btn-outline-dark{href: "#"} Sign Up
= render 'getting_email'
= render 'footer'
