= javascript_include_tag 'web/users'

.row-fluid
  .col-md-10
    = simple_form_for @user, url: { controller: 'web/admin/users', action: action }, html: { class: 'form-horizontal' } do |f|
      = f.input :name, as: :string
      = f.input :city, as: :string
      = f.input :email, as: :string
      = f.input :password, as: :string
      = f.button :submit
      = link_to t('helpers.back'), admin_users_path, class: "btn"
