= javascript_include_tag 'web/members'

.row
  .col-md-10
    = simple_form_for @member, url: { controller: 'web/admin/members', action: action }, html: { class: 'form-horizontal' } do |f|
      = f.input :position, as: :string
      = f.association :user
      = f.input :avatar, as: :image_preview, input_html: { preview_version: :medium }
      = f.button :submit
